<p class="lead">
  <h2 style="text-align:center;"><%= @cmts %> Showing Controllers</h2>
</p>

<%= render "back_to_reports" %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <pre><%= @controllers %></pre>
  </div>
</div>
<br />

<%= render "back_to_reports" %>