<p class="lead">
  <h2 style="text-align:center;"><%= @sweep_host %> Modem Sweep Results</h2>
  <br />
  <h3 style="text-align:center;"><%= @sweep_channel %></h3>
</p>

<%= render "back_to_reports" %>

<div class="container-fluid">
  <div class="centering row-fliud">
    <div class="centering col-md-5">
    <h3>Sweep Failed: <%= @ds %></h3>
    </div>
  </div>
</div>